USE [TTN]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ma_Ad] [char](10) NOT NULL,
	[ten_Ad] [nvarchar](50) NULL,
	[ngaysinh] [datetime] NULL,
	[img_Ad] [varchar](200) NULL,
	[username] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ma_Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baithi]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baithi](
	[ma_Baithi] [char](10) NOT NULL,
	[ma_CH] [int] NULL,
	[DA] [nvarchar](200) NULL,
	[ma_KQ] [char](10) NOT NULL,
 CONSTRAINT [PK_Baithi] PRIMARY KEY CLUSTERED 
(
	[ma_Baithi] ASC,
	[ma_KQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bode]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bode](
	[ma_Bode] [char](7) NOT NULL,
	[ten_Bode] [nvarchar](40) NULL,
	[ma_MH] [varchar](10) NULL,
	[ma_KT] [char](10) NULL,
 CONSTRAINT [PK_Bode] PRIMARY KEY CLUSTERED 
(
	[ma_Bode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cauhoi]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cauhoi](
	[ma_CH] [int] NOT NULL,
	[ma_Bode] [char](7) NULL,
	[loai] [bit] NULL,
	[nd_CH] [nvarchar](200) NULL,
	[img_CH] [varchar](200) NULL,
	[aud_CH] [varchar](200) NULL,
	[TL_1] [nvarchar](200) NULL,
	[TL_2] [nvarchar](200) NULL,
	[TL_3] [nvarchar](200) NULL,
	[TL_4] [nvarchar](200) NULL,
	[DA] [nvarchar](200) NULL,
	[dokho] [int] NULL,
 CONSTRAINT [PK_Cauhoi] PRIMARY KEY CLUSTERED 
(
	[ma_CH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giaovien]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giaovien](
	[ma_GV] [char](10) NOT NULL,
	[ten_GV] [nvarchar](50) NULL,
	[ngaysinh] [datetime] NULL,
	[img_GV] [varchar](200) NULL,
	[username] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Giaovien] PRIMARY KEY CLUSTERED 
(
	[ma_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hocsinh]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hocsinh](
	[ma_HS] [char](10) NOT NULL,
	[ten_HS] [nvarchar](50) NULL,
	[ngaysinh] [datetime] NULL,
	[img_HS] [varchar](200) NULL,
	[ma_Lop] [varchar](10) NULL,
	[username] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Hocsinh] PRIMARY KEY CLUSTERED 
(
	[ma_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ketqua]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ketqua](
	[ma_KQ] [char](10) NOT NULL,
	[ngaythi] [datetime] NULL,
	[diem] [float] NULL,
	[xeploai] [bit] NULL,
	[ma_KT] [char](10) NULL,
	[ma_HS] [char](10) NULL,
 CONSTRAINT [PK_Ketqua] PRIMARY KEY CLUSTERED 
(
	[ma_KQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoi]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoi](
	[ma_Khoi] [varchar](10) NOT NULL,
	[ten_Khoi] [varchar](5) NULL,
 CONSTRAINT [PK_Khoi] PRIMARY KEY CLUSTERED 
(
	[ma_Khoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kythi]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kythi](
	[ma_KT] [char](10) NOT NULL,
	[ten_KT] [nvarchar](50) NULL,
	[ngaythi] [datetime] NULL,
	[tg_Lambai] [int] NULL,
	[tg_Batdau] [time](7) NULL,
	[tg_Ketthuc] [time](7) NULL,
	[sl_CH] [int] NULL,
	[ma_MH] [varchar](10) NULL,
	[ma_GV] [char](10) NULL,
	[ma_HS] [char](10) NULL,
 CONSTRAINT [PK_Kythi] PRIMARY KEY CLUSTERED 
(
	[ma_KT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[ma_Lop] [varchar](10) NOT NULL,
	[ten_Lop] [varchar](5) NULL,
	[ma_Khoi] [varchar](10) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[ma_Lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Made]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Made](
	[ma_De] [char](3) NOT NULL,
	[ten_Made] [char](3) NULL,
	[ma_CHde] [varchar](300) NULL,
	[ma_Bode] [char](7) NULL,
 CONSTRAINT [PK_Made] PRIMARY KEY CLUSTERED 
(
	[ma_De] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monhoc]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monhoc](
	[ma_MH] [varchar](10) NOT NULL,
	[ten_MH] [nvarchar](40) NULL,
 CONSTRAINT [PK_Monhoc] PRIMARY KEY CLUSTERED 
(
	[ma_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[ma_Quyen] [int] NOT NULL,
	[ten_Quyen] [char](10) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[ma_Quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taikhoan]    Script Date: 5/11/2021 1:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[username] [varchar](10) NOT NULL,
	[passwords] [varchar](50) NULL,
	[trangthai] [bit] NULL,
	[ma_Quyen] [int] NOT NULL,
 CONSTRAINT [PK_Taikhoan] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([ma_Ad], [ten_Ad], [ngaysinh], [img_Ad], [username]) VALUES (N'AD1       ', N'Nguyễn Huỳnh Trọng Thoại', CAST(N'2000-02-22T00:00:00.000' AS DateTime), N'DataSet/CV_auto_x2.jpg', N'admin1    ')
INSERT [dbo].[Admin] ([ma_Ad], [ten_Ad], [ngaysinh], [img_Ad], [username]) VALUES (N'AD2       ', N'Nguyễn Thanh Trọng', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'DataSet/trong.jpg', N'admin2')
INSERT [dbo].[Admin] ([ma_Ad], [ten_Ad], [ngaysinh], [img_Ad], [username]) VALUES (N'AD4       ', N'Huỳnh Quốc Huy', CAST(N'2020-02-01T00:00:00.000' AS DateTime), N'DataSet/mau.jpg', N'admin4')
GO
INSERT [dbo].[Bode] ([ma_Bode], [ten_Bode], [ma_MH], [ma_KT]) VALUES (N'BIO2020', N'Kiểm tra 1 tiết sinh học 10 (Cô Ngọc)', N'BIO', NULL)
INSERT [dbo].[Bode] ([ma_Bode], [ten_Bode], [ma_MH], [ma_KT]) VALUES (N'ENG2020', N'Thi học kì 1 Tiếng Anh ( Tổ Anh văn)', N'ENG', NULL)
GO
INSERT [dbo].[Cauhoi] ([ma_CH], [ma_Bode], [loai], [nd_CH], [img_CH], [aud_CH], [TL_1], [TL_2], [TL_3], [TL_4], [DA], [dokho]) VALUES (1, N'ENG2020', 1, N'They do not have ______ pets as they are too busy to take care of animals.', N'', N'', N' some', N' any', N' a', N' every', N'B', 1)
INSERT [dbo].[Cauhoi] ([ma_CH], [ma_Bode], [loai], [nd_CH], [img_CH], [aud_CH], [TL_1], [TL_2], [TL_3], [TL_4], [DA], [dokho]) VALUES (2, N'ENG2020', 1, N'_____ plants recycle carbon dioxide and create oxygen, which we need to breathe. _____ most of our food comes from _____ plants.', N'', N'', N' W / W / W', N' The / W / the', N' W / the / W', N' W / a / the', N'A', 1)
INSERT [dbo].[Cauhoi] ([ma_CH], [ma_Bode], [loai], [nd_CH], [img_CH], [aud_CH], [TL_1], [TL_2], [TL_3], [TL_4], [DA], [dokho]) VALUES (3, N'ENG2020', 1, N'The plane crash wouldn’t have happened if the fog at the airport ______ so thick at the time.', N'', N'', N' hadn’t been', N' won’t be', N' wasn’t', N' hasn’t been', N'A', 1)
GO
INSERT [dbo].[Giaovien] ([ma_GV], [ten_GV], [ngaysinh], [img_GV], [username]) VALUES (N'GV1       ', N'Lê Thị Hoàng Ngọc', CAST(N'2000-03-14T00:00:00.000' AS DateTime), N'', N'giaovien1')
INSERT [dbo].[Giaovien] ([ma_GV], [ten_GV], [ngaysinh], [img_GV], [username]) VALUES (N'GV2       ', N'ff', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'DataSet/tui-giay-kraft-trang.jpg', N'giaovien2')
GO
INSERT [dbo].[Hocsinh] ([ma_HS], [ten_HS], [ngaysinh], [img_HS], [ma_Lop], [username]) VALUES (N'HS1       ', N'Nguyễn Thanh Hào', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'DataSet/8457.JPG', NULL, N'hocsinh1')
GO
INSERT [dbo].[Monhoc] ([ma_MH], [ten_MH]) VALUES (N'BIO', N'Sinh học')
INSERT [dbo].[Monhoc] ([ma_MH], [ten_MH]) VALUES (N'ENG', N'Tiếng Anh')
INSERT [dbo].[Monhoc] ([ma_MH], [ten_MH]) VALUES (N'GEO', N'Địa lý')
GO
INSERT [dbo].[Quyen] ([ma_Quyen], [ten_Quyen]) VALUES (1, N'Admin     ')
INSERT [dbo].[Quyen] ([ma_Quyen], [ten_Quyen]) VALUES (2, N'Giao vien ')
INSERT [dbo].[Quyen] ([ma_Quyen], [ten_Quyen]) VALUES (3, N'Hoc sinh  ')
GO
INSERT [dbo].[Taikhoan] ([username], [passwords], [trangthai], [ma_Quyen]) VALUES (N'admin1', N'123@abc', 1, 1)
INSERT [dbo].[Taikhoan] ([username], [passwords], [trangthai], [ma_Quyen]) VALUES (N'admin2', N'123@abc', 1, 1)
INSERT [dbo].[Taikhoan] ([username], [passwords], [trangthai], [ma_Quyen]) VALUES (N'admin4', N'123@abc', 1, 1)
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [Ad_TK] FOREIGN KEY([username])
REFERENCES [dbo].[Taikhoan] ([username])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [Ad_TK]
GO
ALTER TABLE [dbo].[Baithi]  WITH CHECK ADD  CONSTRAINT [KQ_TL] FOREIGN KEY([ma_KQ])
REFERENCES [dbo].[Ketqua] ([ma_KQ])
GO
ALTER TABLE [dbo].[Baithi] CHECK CONSTRAINT [KQ_TL]
GO
ALTER TABLE [dbo].[Bode]  WITH CHECK ADD  CONSTRAINT [Bode_KT] FOREIGN KEY([ma_KT])
REFERENCES [dbo].[Kythi] ([ma_KT])
GO
ALTER TABLE [dbo].[Bode] CHECK CONSTRAINT [Bode_KT]
GO
ALTER TABLE [dbo].[Bode]  WITH CHECK ADD  CONSTRAINT [NH_Bode] FOREIGN KEY([ma_MH])
REFERENCES [dbo].[Monhoc] ([ma_MH])
GO
ALTER TABLE [dbo].[Bode] CHECK CONSTRAINT [NH_Bode]
GO
ALTER TABLE [dbo].[Cauhoi]  WITH CHECK ADD  CONSTRAINT [FK_Cauhoi_Bode] FOREIGN KEY([ma_Bode])
REFERENCES [dbo].[Bode] ([ma_Bode])
GO
ALTER TABLE [dbo].[Cauhoi] CHECK CONSTRAINT [FK_Cauhoi_Bode]
GO
ALTER TABLE [dbo].[Giaovien]  WITH CHECK ADD  CONSTRAINT [GV_TK] FOREIGN KEY([username])
REFERENCES [dbo].[Taikhoan] ([username])
GO
ALTER TABLE [dbo].[Giaovien] CHECK CONSTRAINT [GV_TK]
GO
ALTER TABLE [dbo].[Hocsinh]  WITH CHECK ADD  CONSTRAINT [HS_Lop] FOREIGN KEY([ma_Lop])
REFERENCES [dbo].[Lop] ([ma_Lop])
GO
ALTER TABLE [dbo].[Hocsinh] CHECK CONSTRAINT [HS_Lop]
GO
ALTER TABLE [dbo].[Hocsinh]  WITH CHECK ADD  CONSTRAINT [HS_TK] FOREIGN KEY([username])
REFERENCES [dbo].[Taikhoan] ([username])
GO
ALTER TABLE [dbo].[Hocsinh] CHECK CONSTRAINT [HS_TK]
GO
ALTER TABLE [dbo].[Ketqua]  WITH CHECK ADD  CONSTRAINT [KQ_HS] FOREIGN KEY([ma_HS])
REFERENCES [dbo].[Hocsinh] ([ma_HS])
GO
ALTER TABLE [dbo].[Ketqua] CHECK CONSTRAINT [KQ_HS]
GO
ALTER TABLE [dbo].[Ketqua]  WITH CHECK ADD  CONSTRAINT [KQ_KT] FOREIGN KEY([ma_KT])
REFERENCES [dbo].[Kythi] ([ma_KT])
GO
ALTER TABLE [dbo].[Ketqua] CHECK CONSTRAINT [KQ_KT]
GO
ALTER TABLE [dbo].[Kythi]  WITH CHECK ADD  CONSTRAINT [FK_Kythi_Giaovien] FOREIGN KEY([ma_GV])
REFERENCES [dbo].[Giaovien] ([ma_GV])
GO
ALTER TABLE [dbo].[Kythi] CHECK CONSTRAINT [FK_Kythi_Giaovien]
GO
ALTER TABLE [dbo].[Kythi]  WITH CHECK ADD  CONSTRAINT [KT_HS] FOREIGN KEY([ma_HS])
REFERENCES [dbo].[Hocsinh] ([ma_HS])
GO
ALTER TABLE [dbo].[Kythi] CHECK CONSTRAINT [KT_HS]
GO
ALTER TABLE [dbo].[Kythi]  WITH CHECK ADD  CONSTRAINT [MH_KT] FOREIGN KEY([ma_MH])
REFERENCES [dbo].[Monhoc] ([ma_MH])
GO
ALTER TABLE [dbo].[Kythi] CHECK CONSTRAINT [MH_KT]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [Khoi_Lop] FOREIGN KEY([ma_Khoi])
REFERENCES [dbo].[Khoi] ([ma_Khoi])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [Khoi_Lop]
GO
ALTER TABLE [dbo].[Made]  WITH CHECK ADD  CONSTRAINT [MH_Made] FOREIGN KEY([ma_Bode])
REFERENCES [dbo].[Bode] ([ma_Bode])
GO
ALTER TABLE [dbo].[Made] CHECK CONSTRAINT [MH_Made]
GO
ALTER TABLE [dbo].[Taikhoan]  WITH CHECK ADD  CONSTRAINT [TK_ Quyen] FOREIGN KEY([ma_Quyen])
REFERENCES [dbo].[Quyen] ([ma_Quyen])
GO
ALTER TABLE [dbo].[Taikhoan] CHECK CONSTRAINT [TK_ Quyen]
GO
