.left_toolbox{
    -fx-background-color: #f8f8f9;
}
.left_toolbox_btn_admin{
    -fx-background-color: white;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-image: url("../Icon/user.png");
    -fx-background-size: cover;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}
.left_toolbox_btn_teacher{
    -fx-background-color: white;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-image: url("../Icon/tc.png");
    -fx-background-size: cover;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}
.left_toolbox_btn_student{
    -fx-background-color: white;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-image: url("../Icon/student.png");
    -fx-background-size: cover;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.left_toolbox_btn_exam{
    -fx-background-color: white;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-image: url("../Icon/exam.png");
    -fx-background-size: cover;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.left_toolbox_btn_schedule{
    -fx-background-color: white;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-image: url("../Icon/schedule.png");
    -fx-background-size: cover;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.left_toolbox_btn_network{
    -fx-background-color: white;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-image: url("../Icon/network-hub.png");
    -fx-background-size: cover;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.right_toolbox{
    -fx-background-color: white;
}
.top_toolbox{
    -fx-border-color: #fbfbfb;

}

.image_account{
    -fx-background-color: #5990f9;
}
.border{
    -fx-background-color: white;
}
.border_notify{
    -fx-background-color: #eee9ff;
    -fx-background-radius: 20px;
}
.btn_notify{
    -fx-background-image: url("../Icon/user1.png");
    -fx-background-radius: 5em;
    -fx-background-size: cover;
}
.btn_exit{
    -fx-background-radius: 10;
    -fx-background-color: #5990f9;
}
.btn_logout{
    -fx-background-radius: 10;
    -fx-background-color: #e085d3;
}
.menu{
    -fx-background-image: url("../Icon/menu2.png");
    -fx-background-size: 38 38;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.menu_btn{
    -fx-background-color:  #f8f8f9;
    -fx-border-color: #f8f8f9 ;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.menu_btn:hover{
    -fx-background-color: white;
    -fx-border-color: white;
}
.btn_new{
    -fx-background-image: url("../Icon/add-file.png");
    -fx-background-size: 35 35;
    -fx-background-position: left 5px center;
    -fx-background-repeat: no-repeat;
}
.btn_delete{
    -fx-background-image: url("../Icon/file.png");
    -fx-background-size: 35 35;
    -fx-background-position: left 5px center;
    -fx-background-repeat: no-repeat;
}
.btn_edit{
    -fx-background-image: url("../Icon/file_edit.png");
    -fx-background-size: 35 35;
    -fx-background-position: left 5px center;
    -fx-background-repeat: no-repeat;
}
.btn_search{
    -fx-background-image: url("../Icon/file_serch.png");
    -fx-background-size: 35 35;
    -fx-background-position: left 5px center;
    -fx-background-repeat: no-repeat;
}
.btn_refresh{
    -fx-background-image: url("../Icon/refresh.png");
    -fx-background-size: 35 35;
    -fx-background-position: left 5px center;
    -fx-background-repeat: no-repeat;
}
.left_toolbox_btn_history{
    -fx-background-color: white;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-image: url("../Icon/history.png");
    -fx-background-size: cover;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.left_toolbox_btn_statistics{
    -fx-background-color: white;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-image: url("../Icon/statistics.png");
    -fx-background-size: cover;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.mainmenu{
    -fx-background-image: url("../Image/back-school-background-with-school-supplies-copy-space.jpg");
    -fx-background-size: cover;
}